<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>nike</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="fundo" [fullscreen]="true">
  <ion-header collapse="condense">
   
      <img id="nike" src="assets/logo-svg.png" alt="Nike">
      <img id="tenis" src="assets/tenis.png.png" alt="Tenis">
    <h1>SUMMER CONECTIONS </h1>
    <h1 style="color: white;">2022</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae
      porta ante. Suspendisse a mass justo lacinia accumsan.</p>

      <ion-button id="botao" shape="round" size="large" routerLink="/nike2" 
      >GET STATED →</ion-button>
    
  </ion-header>

  
</ion-content>
