#fundo{
  
    --background: radial-gradient(circle at 30%, rgba(168,206,137,255)0%, rgba(22,163,140,255) 30%);
};
#tenis{
    min-width: 300px;
    min-height: 300px;

};
#nike{
    min-width: 35px;
    min-height: 35px;
    margin-left: 20px;
};
p{
    font-size: 25px;
    color: white;
    margin-left: 20px;
}
#botao{
    --background: #f2c94c;
    margin-left: 120px;
    
}
