.superior{
    display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
};
ion-buttons {
    --background: blue;
  };
  #perfil{
    width: 50px;
    height: 50px;
  };
  #div{
    display: flex;
    justify-content: space-around;
    margin: 20px;
  };
  #nike{
    width: 100px;
    height: 40px;
  };
  ion-card{
    width: 120px;
    height: 120px;
   
  };
  #div2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
  }