<ion-header [translucent]="true">
  <!-- <ion-toolbar class="superior">
    <ion-title>nike2</ion-title>
  </ion-toolbar>
  -->
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <div id="div">

      <ion-buttons slot="start">
        <ion-menu-button>
          <img src="assets/menu.png" alt="hamburguer"/>
        </ion-menu-button>
      </ion-buttons>
      <img id="nike" src="assets/logo-svg-verde.png" alt="Nike">
      <img id="perfil" src="assets/perfil.png" alt="Perfil">

    </div>
    <div id="div2">
      <ion-card>
        <img id="tenis1" src="assets/tenis1.png" alt="Nike">
      </ion-card>
      <ion-card>
      <img id="tenis1" src="assets/tenis2.png" alt="Nike">
        </ion-card>
        <ion-card>
      <img id="tenis1" src="assets/tenis3.png" alt="Nike">
        </ion-card>
    </div>

  </ion-header>
</ion-content>
